#local
.DS_Store
.env
.idea
.vscode
.history
.gitignore
.git
#node_modules
/node_modules
#npm
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn-debug.log*
yarn-error.log*
#build
dist
build
#test
coverage
#test
.ny
